<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/account.css">
</head>
<body>
  
</body>
</html>
<link rel="stylesheet" href="/account.css">
<div class="accountBody">
  <div class="details">
    <div class="imageDiv">
      <img src="https://cdn-icons-png.flaticon.com/512/8345/8345328.png" alt="account">
    </div>
    <div class="name">
      <p><%=accountDetails.firstName%> <%=accountDetails.secondName%></p>
    </div>
    <div class="email">
      <p>email : <%=accountDetails.email%></p>
    </div>
    <div class="list">
      History...
      <ol>
        <%list.forEach(detail=>{%>
          <li><%=detail.todoName%></li>
        <%})%>
      </ol>
    </div>
    <div class="deleteOrLogout">
      <a href="/deleteAll"><button class="deleteAll">Delete History</button></a>
      <a href="/logout"><button class="logout">Log Out</button></a>
      <a href="/home"><button class="back">← Back</button></a>
    </div>
  </div>
</div>