body{
  height:100vh;
  margin:0px;
}
.firstAndSecond{
  display:flex;
  flex-direction:column;
}
.whole{
  margin:0px;
  min-height:100vh;
  background:linear-gradient(-45deg, purple, rgb(90,0,128), purple);
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}
.heading{
  display:flex;
  justify-content:center;
  align-items:center;
  min-width:100px;
  min-height:100px;
}
.subhead{
  text-align:center;
  color:white;
  font-size:40px;
  text-decoration:underline;
}
.signup{
  min-width:400px;
  min-height:500px;
  border-radius:10px;
  background-color:rgba(179, 0, 255, 0.2);
}
form{
  margin:0px 10px 0px 10px ;
  display:flex;
  min-width:100px;
  min-height:100px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  backdrop-filter:blur(5px);
}
#back{
  color:rgb(38, 220, 252);
  font-size:15px;
  margin:8px;
  font-family:sans-serif;
}
.errorBlock{
  min-width:550px;
  min-height:70px;
  color:rgb(255, 89, 89);
  background-color:transparent;
  font-size:23px;
  border:1px solid rgb(255, 89, 89);
}
input{
  margin:15px 5px 0px 5px;
  min-width:400px;
  min-height:40px;
}
.buttons{
  display:flex;
}
button{
  margin:20px 10px;
  min-width:150px;
  min-height:30px;
  font-size:18px;
}
button:hover{
  transform:translate(0px,-4px);
  box-shadow:0px 1px 3px rgb(255, 39, 255),
  0px 3px 6px rgb(255, 148, 255);
  border-radius:20px;
}
@media(max-width:540px){
  .subhead{
    text-align:center;
    color:white;
    font-size:30px;
    text-decoration:underline;
  }
  
  .signup{
    min-width:160px;
    min-height:300px;
    border-radius:10px;
    background-color:rgba(179, 0, 255, 0.2);
  }
  
  input{
    margin:8px 5px 0px 5px;
    min-width:250px;
    min-height:30px;
  }
  button{
    margin:20px 10px;
    min-width:100px;
    min-height:30px;
    font-size:18px;
  }
}
@media(max-width:431px){
  .subhead{
    text-align:center;
    color:white;
    font-size:25px;
    text-decoration:underline;
  }
  .signup{
    min-width:100px;
    min-height:250px;
    border-radius:10px;
    background-color:rgba(179, 0, 255, 0.2);
  }
  input{
    margin:8px 5px 0px 5px;
    min-width:200px;
    min-height:25px;
  }
  button{
    margin:10px 8px;
    min-width:60px;
    min-height:20px;
    font-size:18px;
  }
}
