body{
  height:100vh;
  margin:0px;
}
.firstAndSecond{
  display:flex;
  flex-direction:column;
}
.whole{
  margin:0px;
  min-height:100vh;
  background:linear-gradient(-45deg, purple, rgb(90,0,128), purple);
  display:flex;
  justify-content:center;
  align-items:center;
}
.heading{
  display:flex;
  justify-content:center;
  align-items:center;
  min-width:400px;
  min-height:120px;
}
.subhead{
  text-align:center;
  color:white;
  font-size:50px;
  text-decoration:underline;
}
.signup{
  min-width:600px;
  min-height:700px;
  border-radius:10px;
  background-color:rgba(179, 0, 255, 0.2);
}
form{
  margin:0px 10px 0px 10px ;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  backdrop-filter:blur(5px);
}
.errorBlock{
  min-width:550px;
  min-height:70px;
  color:rgb(255, 89, 89);
  background-color:rgb(250, 179, 179);
  font-size:23px;
  border:1px solid rgb(255, 89, 89);
}
input{
  margin:15px 5px 0px 5px;
  min-width:400px;
  min-height:50px;
}
.buttons{
  display:flex;
}
button{
  margin-top:20px;
  min-width:200px;
  min-height:40px;
  font-size:18px;
}
button:hover{
  transform:translate(0px,-4px);
  box-shadow:0px 1px 3px rgb(255, 39, 255),
  0px 3px 6px rgb(255, 148, 255);
  border-radius:20px;
}
