body{
  margin:0px;
  background:linear-gradient(-45deg,rgb(0, 217, 255),rgb(225, 192, 255),rgb(98, 239, 157));
  min-height:98vh;
  background-position-x:center;
  background-attachment:fixed;
  background-size:cover;
  box-sizing:border-box;
  color:black;
}
.icon{
  display:none;
}
.head{
  width:100%;
  min-height:80px;
  background-color:rgba(243, 238, 238,0.3);
}
.btn,.btnActive{
  margin:25px 0px 10px 0px;
  font-size:20px;
  min-width:90px;
  min-height:45px;
  border:none;
  background-color:rgba(243, 238, 238,0);
  transition-duration:0.3s;
}
.btnActive:hover{
  transform:scale(1.1);
  background-color:rgba(243, 238, 238,0.3);
}
.btn:hover{
  transform:scale(1.1);
  background-color:rgba(243, 238, 238,0.3);
}
.btnActive{
  text-decoration:underline;
  text-underline-offset:6px;
  text-decoration-color:white;
  text-decoration-thickness:3px;
  text-shadow:0px 3px 5px white;
}
.editAndDelete{
  margin-top:15px;
  margin-bottom:5px;
  display:flex;
  justify-content:space-evenly;
  font-size:20px;
  border:none;
  color:white;
}
.edit{
  font-size:15px;
  background:transparent;
  min-width:80px;
  min-height:30px;
  border-radius:6px;
  border:1px solid black;
}
.delete{
  background:transparent;
  font-size:15px;
  min-width:80px;
  min-height:30px;
  border-radius:6px;
  border:1px solid black;
}
.delete:hover{
  transform:translate(0px,-4px);
  box-shadow:0px 1px 3px rgb(255, 100, 28),
  0px 3px 6px rgb(250, 174, 102);
  border-radius:20px;
  background-color:rgb(251, 147, 147);
}
.edit:hover{
  transform:translate(0px,-4px);
  box-shadow:0px 1px 3px rgb(28, 255, 92),
  0px 3px 6px rgb(112, 255, 167);
  border-radius:20px;
  background-color:rgb(155, 251, 155);
}
.name{
  height:30px;
  font-size:50px;
  font-weight:bolder;
  font-style:italic;
  color:rgb(0, 217, 255);
}
.mainHr{
  width:100%;
  border:none;
  height:4px;
  background: linear-gradient(to right,rgb(250, 21, 250),green,yellow,blue,rgb(250, 21, 250),blue, yellow, green);
  background-size:200% 100%;  
  animation: move-Gradient 5s linear infinite;
}

.buttonDiv{
  margin:0px 0px 10px 0px;
  min-height:30px;
  display:flex;
  flex-direction:row;
  text-align:center;
  justify-content:space-evenly;
  align-content:center;
}
.subhead{
  display:flex;
  flex-direction:row;
  text-align:center;
  justify-content:center;
  align-items:center;
  font-size:30px;
}
.cursor{
  display:inline-block;
  margin:25px 0px 0px 5px;
  height:40px;
  width:5px;
  background-color:white;
  animation:0.8s blink infinite;
}

.boxes:hover{
  transform:translate(0px ,-4px);
  box-shadow:0px 1px 2px black,0px 5px 10px black;
}
.toDoList{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:40px;
}
.boxCollection{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  background:none;
}
.boxes{  
  display:flex;
  flex-direction:column;
  margin-top:40px;
}

.button,.boxes{
  border-radius:10px;
  cursor:pointer;
  width:440px;
  height:480px;
  font-size:80px;
  text-align:center;
  margin-left:10px;
  margin-bottom:30px;
  background-color:rgba(243, 238, 238,0.3);
  border:none;
}
.dateAndTime{
  margin-top:8px;
  font-size:25px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.todoName{
  font-size:45px;
  color:rgb(255, 160, 101);
  text-decoration:underline;
  text-underline-offset:5px;
  margin-top:30px;
  font-weight:bolder;
}
.description{
  width:400px;
  height:200px;
  margin-top:30px;
  overflow-y:auto;
  font-size:25px;   
}
.button:hover{
  box-shadow:0px 1px 1px rgb(247, 0, 231) , 0px 4px 15px rgb(251, 146, 244);
  transform:translate(0px,-6px);
}

.form{
  width:100%;
  min-height:100vh; /* 🔥 important */
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0; /* remove 5rem */
}
input[type="file"]{
  width:250px;
  height:40px;
  margin-top:20px;
  background-color:rgba(206, 252, 162,0);
  font-size:20px;
  font-weight:bolder;
  color:grey;
}
.fileContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}
#accountImage{
  width:40px;
  height:40px;
  margin-top:22px;
}
.file{
  margin:15px 0px 0px 8px;
  height:80px;
  height:auto;
  background-size:cover;
  background-position:center;
  border-radius:10px;
}
.image{
  height:90px;
}
.fileContent{
  font-size:15px;
  color:black;
}

form{ 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.Details{
  font-size:40px;
  width:400px;
  height:600px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border:3px solid white;
}
.headOfText{
  margin-top:20px;
}

input{
  width:250px;
  height:40px;
  margin-top:20px;
  background-color:rgba(206, 252, 162,0);
  font-size:20px;
  font-weight:bolder;
  color:black;
}
textarea{
  font-size:20px;
  background-color:rgba(206,252,162,0);
  margin-top:20px;
  color:grey;
  min-width:250px;
  min-height:60px;
}
input[type="submit"]{
  background-color:rgb(153, 250, 188);
}
.contact{
  top:40%;
}
.contact{
  width:70px;
  font-size:35px;
  text-align:center;
  padding:2px 0px 3px 0px;
  color:black;
  background:linear-gradient(-45deg, rgb(56, 122, 255),rgb(254, 61, 212),rgb(245, 129, 45),rgb(69, 255, 168),rgb(56,122,255));
  background-size:500% 100%;
  animation:move-Gradient 10s ease infinite;
  min-height:50px;
  font-weight:bolder;
  font-family:Gill Sans;
  border:2px solid white;
  border-radius:15px;
  position:fixed;
  margin-top:50px;
  right:0;
  transition:width 0.5s ease;
}
.contact:hover{
  min-height:50px;
  width:190px;
  font-size:24px;
  color:black;
}
.contact:hover::after{
  content:" contact";
}
input[type="submit"]:hover{
  background-color:rgb(255, 134, 134);
  color:white;
}
button{
  cursor:pointer;
}
.extension{
  display:none;
}
.extensionActive{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  top:25%;
  right:0;
  border:1px solid white;
  background-color:black;
  color:white;
  width:150px;
  min-height:300px;
  position:absolute;
  min-height:auto;
  z-index:1;
}
.hr{
  background-color:white;
  height:1px;
  width:100%;
}
button{
  border:none;
}
.next{
  min-height:30px;
  background-color:black;
  color:white;
}
.next:hover{
  background-color:rgb(255, 98, 0);
  border-radius:15px;
  border:1px solid black;
}
.optionerDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.increase{
  transition:0.3s all;
}
.increase:hover{
  transform:scale(1.2);
}
#optioner{
  margin-top:10px;
  font-size:26px;
  background:transparent;
}
@keyframes move-Gradient{
  0%{
    background-position:0%;
  }
  50%{
    background-position: 100%;
  }
  
}
@keyframes blink{
  0%{
    opacity:0%;
  }
  100%{
    opacity:100%;
  }
}
@keyframes xmove{
  0%{
    transform:translate(0px,0px);
  }
  100%{
    transform:translate(4px,0px);
  }
}

@media (max-width:500px){
  .name{
    font-size:40px;
  }
  .boxes,.button{
    cursor:pointer;
    width:350px;
    height:480px;
  }
  .todoName{
    font-size:30px;
  }
  .cursor{
    height:40px;
    margin-top:8px;
  }
  body{
    width:100%;
  }
  .btn,.btnActive{
    font-size:15px;
  }
  .description{
    width:100%;
    font-size:20px;
  }

  .Details{
    width:90%;
  }

  .contact{
    font-size:25px;
  }
  .text{
    display:none;
  }
  .icon{
    display:inline;
    font-size:25px;
  }
  .hidden{
    display:none;
  }
  form{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
  }
  input{
    min-width:150px;
    min-height:30px;
    background-color:rgba(206, 252, 162,0);
    font-size:15px;
    font-weight:bolder;
    color:black;
  }
  .image{
    height:70px;
  }
}
@media(max-width:430px){
  .name{
    font-size:30px;
  }
  .cursor{
    margin-top:3px;
  }
  .boxes,.button{
    cursor:pointer;
    width:300px;
    height:420px;
  }
  .todoName{
    font-size:30px;
  }
  .description{
    font-size:18px;
  }
  .image{
    height:50px;
  }
  .fileContainer{
    height:50px;
  }
}